@tailwind base;
@tailwind components;
@tailwind utilities;
.loader{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .logout svg{
    width: 25px;
    height: 25px;
  }